extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Todd Whitelow Jr.

        p.lead.text-light
          | Software Engineer.

        .portfolio-bio
          p
            | I’m a Software Engineer, working mainly on web and mobile apps. I taught myself how to make websites 18 years ago as a hobbiest coder.   
            | More recently I enrolled into a coding bootcamp called Actualize Coding Bootcamp as well as an Fullstack Javascript TechDegree from Treehouse. 
            | I created several projects in these programs to showcase all that I learned and you can see them on the home page. 
            | I am currently looking for a full time software developer role that is remote. I would love to work on a team that has sustainability in mind and loves new challenges. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Javascript
          li Ruby on Rails
          li React
          li Vue 
          li HTML
        h6 Contact Info

        ul
          li 352-630-0439
          li todd@whitelow.tech

        a.button.expanded(href='https://www.linkedin.com/in/todd-whitelow/') LinkedIn
        a.button.expanded(href='https://github.com/twhitelow1') GitHub
        a.button.expanded(href='https://twitter.com/ToddWhitelow') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  